table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid #d3d3d3;
}

td,
th {
  border: 1px solid #d3d3d3;
  text-align: left;
  padding: 8px;
}

th {
  vertical-align: top;
}

tr:nth-child(even) {
  background-color: #ddd;
}

.status-placeholder {
  background-color: grey;
  border-radius: 7px;
  padding: 0.5rem;
  white-space: nowrap;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
