.logo {
  width: 80px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #e8e8e8;
}

.logo-title-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 2rem;
  font-size: 24px;
}

.nav-rockets {
  padding-right: 2rem;
}

.nav-my-profile {
  border-left: 1px solid #000;
  padding-left: 2rem;
}

.link {
  color: rgba(34, 167, 240, 1);
}

.link:focus {
  text-decoration: underline;
}
